
  
    h1 {color:blue;}
    img {width:400px;}
    #thirdDiv {
              height:600;
              width:500;
              background-color:powderblue;
              padding:50px;
              border:1px solid red; 
              }
    #spanId {
             font-size:18px; 
             margin:50px;}

    